<form action="">
    <!-- menu superior -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><strong>DR.lanches</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"><strong>Hora</strong> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <input type="text" class="form-control mr-sm-2" readonly=true>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"><strong>Data</strong></a>
                </li>
                <li class="nav-item">
                    <input type="text" class="form-control mr-sm-2" readonly=true>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"><strong>Lucro:</strong></a>
                </li>
                <li class="nav-item">
                    <input type="text" class="form-control mr-sm-2" readonly=true>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"><strong>Vendidos:</strong></a>
                </li>
                <li class="nav-item">
                    <input type="text" class="form-control mr-sm-2" readonly=true>
                </li>
                <li>
                    <button class="btn btn-success" style="margin-left: 30%;">Relátório</button>
                </li>
            </ul>
        </div>
    </nav>
    <div style=" float: left; width: 50%; height: 550px; margin-top: 10px; border: 1px solid red;">
        <form>
            <select id="inputState" class="form-control">
                <option selected>Selecionar pedido</option>
                <option value="Pechincheiro Burguer"><strong>PECHINCHEIRO BURGUER - 5 R$ -</strong></option>
                <option value="Lagilina Burguer"><strong>LAGILINA BURGUER - 7 R$ -</strong></option>
                <option value="Narizinho Burguer"><strong>NARIZINHO BURGUER - 10 R$ -</strong></option>
                <option value="Bucho Burguer"><strong>BUCHO BURGUER - 13 R$ -</strong></option>
                <option value="Fofão Burguer"><strong>FOFÃO BURGUER - 15 R$ -</strong></option>
                <option value="Meu Beiço Burguer"><strong>MEU BEIÇO BURGUER - 17 R$ -</strong></option>
                <option value="Explosão"><strong>EXPLOSÃO - 30 R$ -</strong></option>
            </select>
            <p>
                <button type="button" class="btn btn-primary btn-lg" style="float: left; margin-top: 4.5%;
                                                                    margin-left: 15%;">Botão grande</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-lg" style="float: left; margin-top: 2%;
                                                                    margin-left: 2%;">Botão grande</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-lg" style="margin-top: 2%;
                                                                    margin-left: 2%;">Botão grande</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-lg" style="float: left; margin-top: 2%;
                                                                    margin-left: 15%;">Botão grande</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-lg" style="float: left; margin-top: 2%;
                                                                    margin-left: 2%;">Botão grande</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-lg" style="margin-top: 2%;
                                                                    margin-left: 2%;">Botão grande</button>
            </p>
            <div class="form-group row" style="margin-top: 5%;">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>cliente</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"><strong>Endereço</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"><strong>Com.Endereço</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"><strong>Quantidade</strong></label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputPassword3">
                </div>
            </div>
        </form>

    </div>
    <div style="  float: left; width:49%; height: 560px; border: 1px solid red;">

    </div>
</form>