<div class="div_fundo">
  <form action="/" method="POST">

    {{#each  posts}}

    <h3>{{nome_cliente}}</h3>
    <h4>{{endereco}}</h4>
    <h4>{{comple_endereco}}</h4>
    <h4>{{quantidade}}</h4>

    {{/each}}
  </form>
</div>